# Python
*/.ipynb_checkpoints/*
*.pyc
__pycache__/*
venv/*

# Data
data/*
results/*

# Slice files
*-latest.json

# snakemake
.snakemake/

# Logs
*.out

# Tester files
tester/*

# IDE
.idea

# Rendered documentation
docs/book/
