# Python
**/.ipynb_checkpoints
*.pyc
*.egg-info
__pycache__/*
venv/*
src/snkit
build

# Data
data/*
results/*
notebooks/**/*.cpg
notebooks/**/*.csv
notebooks/**/*.dbf
notebooks/**/*.geojson
notebooks/**/*.gpkg
notebooks/**/*.html
notebooks/**/*.png
notebooks/**/*.prj
notebooks/**/*.qgz
notebooks/**/*.shp
notebooks/**/*.shx
notebooks/**/*.tif
notebooks/**/*.txt
notebooks/**/*.xml
notebooks/**/*.zip
*.bak
*.zarr

soge-sync
push
pull
SCRATCH

# snakemake
.snakemake/
*.snakemake_timestamp

# Logs
*.out

# Tester files
tester/*

# IDE
.idea
*.swp
.vscode

# Rendered documentation
docs/book/

# Cluster
slurm
# pixi environments
.pixi/*
!.pixi/config.toml
