# Python
**/.ipynb_checkpoints
*.pyc
*.egg-info
__pycache__/*
venv/*
src/snkit
build

# Data
data/*
results/*
*.bak

# snakemake
.snakemake/
*.snakemake_timestamp

# Logs
*.out

# Tester files
tester/*

# IDE
.idea
*.swp
.vscode

# Rendered documentation
docs/book/
