# To install this environment:
# micromamba create -f environment.yml -y
#
name: open-gira

channels:
  - conda-forge
  - bioconda
  - nodefaults

dependencies:
  # Core
  - python==3.12
  - pip
  - cython
  - black
  - flake8

  # Notebooks
  - ipykernel
  - jupyter
  - nb_conda_kernels
  - nbstripout

  # Snakemake
  - snakemake
  - snakemake-executor-plugin-slurm

  # Geospatial
  - gdal
  - geopandas
  - geopy
  - contextily
  - osmium-tool==1.14.0
  - pyogrio
  - pyproj
  - pyrosm
  - rasterio
  - rasterstats
  - rioxarray
  - snkit

  # Data science
  - dask
  - datashader
  - igraph
  - matplotlib
  - netCDF4
  - networkx
  - numpy
  - openpyxl
  - pandas
  - pathos
  - pyarrow
  - scipy
  - spatialpandas
  - xarray
  - zarr

  # Utilities
  - jq
  - requests
  - tabulate
  - tqdm
  - zenodo_get

  # Testing
  - pytest
  - pytest-xdist

  # Pip-only packages
  - pip:
    - nismod-snail
    - osmium
    - irv-datapkg
    - -e .

