# geospatial
geopandas==0.11.0
shapely>=1.8.2
pyproj>=3.3.1
rasterio
rasterstats
osmium==3.2.0
pyrosm
geopy               # geocoding client

# OPSIS
nismod-snail==0.2.1
-e git+https://github.com/tomalrussell/snkit.git@main#egg=snkit

# workflow
snakemake==6.15.1
pathos
tqdm==4.62.3

# data handling
# AttributeError with numpy<1.19 and pandas
# numba requires 1.18 <= numpy <= 1.21
numpy~=1.21.0
pandas
pyarrow==6.0.0
cython==0.29.28
netCDF4
openpyxl

# graphing
networkx

# data retrieval
requests
zenodo_get

# plotting
matplotlib==3.5.1

# development
pytest==6.2.4
black
flake8
