# geospatial
geopandas==0.10.2
shapely>=1.8.2
pyproj>=3.3.1
rasterio
rasterstats
osmium==3.2.0
pyrosm

# OPSIS
nismod-snail==0.2.1
snkit

# workflow
snakemake==6.15.1
pathos
tqdm==4.62.3

# data handling
numpy==1.22.0  # AttributeError with numpy<1.19 and pandas
pandas
pyarrow==6.0.0
netCDF4
openpyxl

# graphing
networkx

# data retrieval
requests
zenodo_get

# development
pytest==6.2.4
