# Input data and output locations
output_dir: 'results'

# This should be a named list of files that specify hazard raster files
# to retrieve using wget -i
hazard_datasets:
#  aqueduct-coast: 'https://raw.githubusercontent.com/mjaquiery/aqueduct/main/tiffs.txt'
  aqueduct-river: 'https://raw.githubusercontent.com/mjaquiery/aqueduct/main/rivers.txt'

# OSM dataset
infrastructure_datasets:
#  tanzania-latest: 'https://download.geofabrik.de/africa/tanzania-latest.osm.pbf'
#  wales-latest: 'https://download.geofabrik.de/europe/great-britain/wales-latest.osm.pbf'
  tanzania-mini: ''

# Number of slices to cut dataset into -- must be a square number
slice_count: 4
# Edge attributes list for network/hazard intersection.
edge_attrs: 'id'
# Filters definition
osmium_tags_filters_file: "config/highway-core.txt"

