# Input data and output locations
data_dir: 'data'
hazard_data_dir: 'data/aqueduct'
output_dir: 'outputs'

# Directory <aqueduct_dir> is expected to contain a csv file
# <datafiles_list> describing the raster data files.
hazard_csv: 'data/aqueduct/aqueduct_river.csv'

# OSM dataset
dataset: 'tanzania-latest'
# Edge attributes list for network/hazard intersection.
edge_attrs: 'id'
# Filters definition
osmium_tags_filters_file: "config/filters.txt"

