name: pyTest

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Install ImageMagick
        uses: mfinelli/setup-imagemagick@v7
        with:
          cache: true

      - uses: actions/checkout@v5

      - name: Install Python environment
        uses: prefix-dev/setup-pixi@v0.9.3
        with:
          pixi-version: v0.59.0
          cache: true
          activate-environment: true
          log-level: vv

      - uses: astral-sh/ruff-action@v3
        with:
          args: "format --check --diff"

      - name: Test with pytest
        run: |
          osmium --version

          # Imagemagick v7 introduces a change to CLI with a single parent
          # 'magick' command -- introduce alias here until v7 widespread
          alias identify="magick identify"
          identify --version

          python -m pytest -n auto
